.product {
   width: 600px;
   margin: 0 auto;
  background: #BC2460;
  color: #fff;
  padding: 20px 30px;

}

/*h3 {
  margin-bottom: 20px;
}*/

button {
  width: 100px;
  height: 40px;
  color: #000;
}
